.box {
  border: 5px solid green;
  background-color: blue;
  height: 20%;
  width: 1000%;
  mask: radial-gradient(52.84px at 50% 73.5px, #000 99%, #0000 101%)
      calc(50% - 60px) 0/120px 100%,
    radial-gradient(52.84px at 50% -43.5px, #0000 99%, #000 101%) 50% 30px/120px
      100% repeat-x;

  animation: waveAnimation 300s linear infinite;
}

@keyframes waveAnimation {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-200%);
  }
}

.wavefix {
  height: 500px;
  border: 2px solid pink;
  width: 500px;
  overflow: hidden;
}
