.image-slider {
  height: 100%;
  width: 100%;
}

.slider-button {
  display: block;
  position: relative;
  cursor: pointer;
  top: 0;
  bottom: 0;
  padding: 1rem;
  all: unset;
  height: 100%;
}

.slider-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.slider-button > * {
  /* stroke: white; */
  fill: black;
}

.slider-right {
}
.slider-left {
}
