.image-slider-container {
  height: 100%;
  position: relative;
  width: 100%;
}

.image-slider-img {
  display: block;
  height: 377px;
  object-fit: cover;
  width: 100%;
}

.image-slider-arrow {
  all: unset;
  bottom: 0;
  cursor: pointer;
  display: block;
  padding: 1rem;
  position: absolute;
  top: 0;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.arrow {
  color: black;
}

.image-slider-arrow:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
