.full {
  height: 100vh;
  width: 100%;
  padding: 0;
}

.section1,
.section2,
.section3,
.section4,
.section5 {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.cover {
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: blue;
  position: absolute;
}

.remove-cover {
  animation: remove-cover 8s ease forwards 0.25s;
  animation-delay: 0.25s;
}

.section4 {
  background-color: #293050;
}

.section2 {
  position: relative;
}

.section3 {
  overflow-y: hidden;
  max-height: 100vh;
  position: relative;
}

/****************************** Waves Start *************************/
/* Animations Div -> Section 3 -> Waves -> divs(1, 2, 3) */
.waves {
  overflow: hidden;
  /* height: 100vh; */
  width: 100vw;
  z-index: 3;
  /* position: absolute; */
  /* bottom: -2px; */
  /* display: block; */
  height: 200px;
  width: 1000%;
  position: absolute;
  bottom: 0px;
}

.waves div {
  background-color: #293050;
  mask: radial-gradient(52.84px at 50% 73.5px, #000 99%, #0000 101%)
      calc(50% - 60px) 0/120px 100%,
    radial-gradient(52.84px at 50% -43.5px, #0000 99%, #000 101%) 50% 30px/120px
      100% repeat-x;

  overflow: hidden;
  position: absolute;
}

.waves div:nth-child(1) {
  height: 100px;
  width: 6000px;
  bottom: 0;

  animation: move-wave 60s infinite linear;
}

.waves div:nth-child(2) {
  height: 100px;
  width: 200%;
  opacity: 0.75;
  bottom: 10px;
}
.waves div:nth-child(3) {
  right: 25px;
  height: 100px;
  width: 200%;
  opacity: 0.75;
  bottom: 10px;
}

@keyframes move-wave {
  50% {
    transform: translateX(-3000px);
  }
  100% {
    transform: translateX(0px);
  }
}

/****************************** Waves End *************************/

@keyframes remove-cover {
  100% {
    transform: translateY(2000%);
  }
}

/******* Card Flip  ********************/

.testcard-container {
  display: flex;
  justify-content: space-around;
}

.test-card1,
.test-card2 {
  height: 150px;
  width: 150px;
  transition: 0.5s ease;
  opacity: 0;
  transform: perspective(10em) rotateX(23deg);
  border: 2px solid black;
}

.showcard {
  opacity: 1;
  transform: perspective(10em) rotateX(0deg);
}

.test-card1 {
  background-color: orange;
}

.test-card2 {
  background-color: aqua;
}

/***** Underline Effect *****/
.test-nav {
  width: 60%;
  display: flex;
  justify-content: space-around;
  /* transform: translate(0 173.778); */
  background-color: aqua;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #0087ca;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/********* Pull Up Animation  *****/
.pullup-container {
  height: 150px;
  width: 150px;
  border: 2px solid black;
  position: relative;
  overflow: hidden;
}

.hide2 {
  position: absolute;
  height: 100%;
  width: 100%;
  /* z-index: 2; */
  border: 1px solid pink;
  top: 0;
  background-color: red;
}

.reveal-drop {
  transition: 2s ease;
  transform: translateY(-110%);
}
