.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1.25rem;
  overflow: visible;
  row-gap: 0.75rem;
  width: 100%;
}

.projects {
  background-color: var(--dark-blue);
  min-height: 100vh;
}
