.line {
  height: 3px;

  width: 10%;
  align-self: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  /* line-height: 24px; */
}

.blue-line {
  background-color: rgb(21, 161, 169);
}

.white-line {
  background-color: white;
}
