.line {
  align-self: center;
  height: 3px;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  width: 10%;
}

.blue-line {
  background-color: rgb(21, 161, 169);
}

.white-line {
  background-color: white;
}
