.project-card {
  width: 33%;
  position: relative;
  /* position: absolute; */
}

.main-image {
  max-width: 100%;
  height: 500px;
}

.portfolio-box {
  background-color: rgba(22, 208, 255, 0.9);
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.open-modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
  width: 100vw;
  z-index: 9999;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: 30px;
}

.temp-content {
  height: 75%;
  width: 75%;
  border: 2px solid white;
}

.project-card:hover {
}
