.skill-card {
  background-color: var(--primary);
  border-radius: 30px;
  color: white;
  min-height: 250px;
  opacity: 0;
  transform: perspective(10em) rotateX(23deg);
  transition: 0.5s ease;
  width: 22%;
}

.skillcard-content {
  padding-inline: 0.5em;
  padding-top: 1em;
}

.show-skill-card {
  opacity: 1;
  transform: perspective(10em) rotateX(0deg);
}

.skill-icon {
  color: white;
  margin-bottom: 8px;
}

.skillCard h3 {
  font-size: var(--sub-header);
  font-weight: 550;
  margin-bottom: 8px;
  margin-top: 8px;
  text-align: center;
}

.skillCard p {
  font-size: var(--regular-text);
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

@media (max-width: 1000px) {
  .skill-card {
    width: 30%;
  }
}

@media (max-width: 900px) {
  .skill-card {
    width: 45%;
  }
}

@media (max-width: 600px) {
  .skill-card {
    margin-inline: auto;
    width: 80%;
  }
}
