.skill-card {
  width: 22%;
  border: 2px solid red;
  transition: 0.5s ease;
  opacity: 0;
  transform: perspective(10em) rotateX(23deg);
  background-color: var(--primary);
  color: white;
}

.show-skill-card {
  opacity: 1;
  transform: perspective(10em) rotateX(0deg);
}

.skill-icon {
  color: white;
  margin-bottom: 8px;
}

.skillCard h3 {
  font-size: var(--sub-header);
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: 550;
  text-align: center;
}

.skillCard p {
  font-size: var(--regular-text);
  font-weight: 400;
  text-align: center;
  line-height: 24px;
}
