.curved-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-blue);
  /* background-color: white; */
  color: var(--custom-white);
  min-height: 100vh;
  width: 100vw;

  /* --mask5: radial-gradient(184.46px at 50% 255px, #000 99%, #0000 101%)
  calc(50% - 200px) 0/400px 100%,
radial-gradient(184.46px at 50% -155px, #0000 99%, #000 101%) 50% 100px/400px
  100% repeat-x;
-webkit-mask: var(--mask5);
mask: var(--mask5);
} */
}

.curved-container::before,
.curved-container::after {
  --mask5: radial-gradient(184.46px at 50% 255px, #000 99%, #0000 101%)
      calc(50% - 200px) 0/400px 100%,
    radial-gradient(184.46px at 50% -155px, #0000 99%, #000 101%) 50% 100px/400px
      100% repeat-x;
  -webkit-mask: var(--mask5);
  mask: var(--mask5);
}
