.about-section {
  background-color: var(--primary);
  position: relative;
}

.about-header {
  color: var(--white);
}

.about-container {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-inline: 3rem;
}

.about-col1 {
  width: 33.333%;
}

.about-col2 {
  width: 66.6666%;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  padding-inline: 1.5em;
}

.about-text {
  font-size: var(--regular-text);
  color: var(--faded-white);
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  font-family: "Meriweather";
}

.about-btn {
  background-color: orange;
  color: white;
  margin-top: 3rem;
  width: 30%;
}

/* Animations */
/* TODO: Change background waves to responsive (likely need a calc) */
.waves {
  overflow: hidden;
  width: 100vw;
  z-index: 3;
  height: 200px;
  width: 1000%;
  position: relative;
  bottom: 325px;
  border: 2px solid white;
}

.waves div {
  background-color: #293050;
  mask: radial-gradient(52.84px at 50% 73.5px, #000 99%, #0000 101%)
      calc(50% - 60px) 0/120px 100%,
    radial-gradient(52.84px at 50% -43.5px, #0000 99%, #000 101%) 50% 30px/120px
      100% repeat-x;

  overflow: hidden;
  position: absolute;
}

.waves div:nth-child(1) {
  height: 100px;
  width: 6000px;
  bottom: 0;

  animation: move-wave 60s infinite linear;
}

.waves div:nth-child(2) {
  height: 100px;
  width: 200%;
  opacity: 0.5;
  bottom: 10px;
}
.waves div:nth-child(3) {
  right: 8px;
  height: 100px;
  width: 200%;
  opacity: 0.5;
  bottom: 10px;
}

@keyframes move-wave {
  50% {
    transform: translateX(-3000px);
  }
  100% {
    transform: translateX(0px);
  }
}

@media (max-width: 900px) {
  .about-container {
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
  }

  .about-col1 {
    width: 40%;
    padding-bottom: 0.5rem;
  }

  .about-col2 {
    width: 100%;
  }
}
