.about-section {
  background-color: var(--primary);
}

.about-header {
  color: var(--white);
}

.about-container {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-inline: 3rem;
}

.about-col1 {
  width: 33.333%;
}

.about-col2 {
  width: 66.6666%;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  padding-inline: 1.5em;
}

.about-text {
  font-size: var(--regular-text);
  color: var(--faded-white);
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  font-family: "Meriweather";
}
