.wave-container {
  position: relative;
}

.waves {
  bottom: 0px;
  height: 250px;
  position: absolute;
  width: 100vw;
  width: 1000%;
  z-index: 2;
}

.waves div {
  background-color: var(--dark-blue);
  bottom: 0px;
  position: absolute;

  mask: radial-gradient(184.46px at 50% 255px, #000 99%, #0000 101%)
      calc(50% - 200px) 0/400px 100%,
    radial-gradient(184.46px at 50% -155px, #0000 99%, #000 101%) 50% 100px/400px
      100% repeat-x;
}

.waves div:nth-child(1) {
  animation: move-wave 60s infinite linear;
  bottom: 0;
  height: 150px;
  width: 6000px;
}

.waves div:nth-child(2) {
  bottom: 10px;
  height: 180px;
  opacity: 0.3;
  width: 200%;
}

.waves div:nth-child(3) {
  bottom: 10px;
  height: 180px;
  opacity: 0.3;
  right: 175px;
  width: 200%;
}

@keyframes move-wave {
  50% {
    transform: translateX(-3000px);
  }
  100% {
    transform: translateX(0px);
  }
}
