.wave-container {
  position: relative;
}

.waves {
  width: 100vw;
  height: 250px;
  width: 1000%;
  position: absolute;
  z-index: 2;
  bottom: 0px;
}

.waves div {
  background-color: var(--dark-blue);

  mask: radial-gradient(184.46px at 50% 255px, #000 99%, #0000 101%)
      calc(50% - 200px) 0/400px 100%,
    radial-gradient(184.46px at 50% -155px, #0000 99%, #000 101%) 50% 100px/400px
      100% repeat-x;

  position: absolute;
  bottom: 0px;
}

/* TODO: Changed to responsive units */
.waves div:nth-child(1) {
  height: 150px;
  width: 6000px;
  bottom: 0;
  animation: move-wave 60s infinite linear;
}

.waves div:nth-child(2) {
  height: 180px;
  width: 200%;
  opacity: 0.3;
  bottom: 10px;
}
.waves div:nth-child(3) {
  right: 175px;
  height: 180px;
  width: 200%;
  opacity: 0.3;
  bottom: 10px;
}

@keyframes move-wave {
  50% {
    transform: translateX(-3000px);
  }
  100% {
    transform: translateX(0px);
  }
}
