.contact-section {
  overflow: hidden;
  max-height: 100vh;
  position: relative;
  background-color: var(--dark-color);
}

.contact-section h2 {
  color: var(--custom-white);
}

.cover {
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: var(--light-blue);
  position: absolute;
}

.remove-cover {
  animation: remove-cover 8s ease forwards 0.25s;
  animation-delay: 0.5s;
}

@keyframes remove-cover {
  100% {
    transform: translateY(2000%);
  }
}
