.contact-section {
  overflow: hidden;
  max-height: 100vh;
  position: relative;
  background-color: var(--light-blue);
  width: 100%;
}

.contact-section h2 {
  color: var(--custom-white);
}

.cover {
  height: 100vh;
  width: 100vw;
  z-index: 2;
  /* background-color: var(--dark-blue); */
  background-color: white;
  position: absolute;
  /* Curve is from Here */

  /* transform: rotate(180deg); */
  /* Too Here */
}

.cover::before,
.cover::after {
  --mask6: radial-gradient(
        223.61px at 50% calc(100% - 300px),
        #000 99%,
        #0000 101%
      )
      calc(50% - 200px) 0/400px 100%,
    radial-gradient(223.61px at 50% calc(100% + 200px), #0000 99%, #000 101%)
      50% calc(100% - 100px) / 400px 100% repeat-x;

  -webkit-mask: var(--mask6);
  mask: var(--mask6);
  background-color: white;
  transform: rotate(90deg);
}

.remove-cover {
  animation: remove-cover 8s ease forwards 0.25s;
  animation-delay: 0.75s;
}

@keyframes remove-cover {
  100% {
    /* transform: translateY(2000%); */
    transform: translateY();
  }
}
