.modal-bg {
  align-items: center;
  backdrop-filter: 30px;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 99;
}

.modal-container {
  background-color: var(--sand-color);
  height: 90%;
  position: relative;
  width: 90%;
}

.modal-slider-container {
  height: auto;
  margin: 0 auto;
  max-width: 80%;
  width: 800px;
}

.modal-content {
  display: grid;
  grid-template-columns: 30% 70%;
  margin-inline: auto;
  margin-top: 1.5rem;
  width: 80%;
}

.modal-content p,
.modal-content div {
  font-size: var(--regular-text);
  justify-self: flex-start;
  text-align: start;
}

.modal-exit {
  left: 1%;
  position: absolute;
  top: 2%;
}

/* Links Container CSS*/
.modal-links-container {
  align-items: center;
  display: flex;
  gap: 30px;
  overflow: visible;
}

.icon {
  overflow: visible;
  position: relative;
}

.icon::before,
.icon::after {
  --arrow-size: 10px;
  --scale: 0;
  --tooltip-color: rgba(0, 0, 0, 0.8);

  content: "";
  left: 50%;
  position: absolute;
  top: -0.25rem;
  transform-origin: bottom center;
  transition: 50ms transform;
  transform: translateX(-50%) translateY(var(--translate-y, 0))
    scale(var(--scale));
}

.icon::before {
  --translate-y: calc(-100% - var(--arrow-size));

  background-color: var(--tooltip-color);
  border-radius: 0.3rem;
  color: white;
  content: attr(data-tooltip);
  padding: 0.5rem;
  text-align: center;
  width: max-content;
}

.icon::after {
  --translate-y: calc(-1 * var(--arrow-size));

  border: var(--arrow-size) solid transparent;
  border-top-color: var(--tooltip-color);
  content: "";
  transform-origin: top center;
}

.icon:hover::before,
.icon:hover::after {
  --scale: 1;
}

@media (max-width: 600px) {
  .modal-container {
    height: 100%;
    width: 100%;
  }
}
