.navbar {
  display: flex;
  padding-top: 2rem;
  padding-bottom: 1rem;
  padding-inline: 6.25rem;
  width: 100%;
  /* background-color: aqua; */
  position: fixed;
  justify-content: space-between;
}

.navbar-scrolled {
  background-color: var(--white);
}

.navbar-logo {
  font-size: 20px;
}

.navbar-link {
  height: 100%;
}

.navbar-links {
  width: 30%;
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  font-size: var(--regular-text);
  line-height: 21.6px;
}

.navbar-links-scrolled {
  color: black;
}

.mobile-menu {
  display: none;
}

@media (max-width: 900px) {
  .navbar {
    background-color: var(--white);
  }

  .mobile-menu {
    display: block;
  }

  .hamburger {
    height: auto;
    width: 10vw;
    min-width: 70px;
  }

  .desktop-links-container {
    display: none;
  }

  .mobile-links-container {
    display: block;
  }

  .mobile-links-container {
    display: flex;
    flex-direction: column;
    /* position: relative; */
    z-index: 5;
  }

  .navbar-link {
    line-height: 24px;
    width: 100vw;
    background-color: aquamarine;
    font-size: 14px;
  }
}
