.navbar {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-inline: 3rem;
  width: 100%;
  /* background-color: aqua; */
  position: fixed;
}

.navbar-logo {
  font-size: 20px;
}

.navbar-links {
}
