.navbar {
  display: flex;
  padding-top: 2rem;
  padding-bottom: 1rem;
  padding-inline: 3.125rem;
  width: 100vw;
  position: fixed;
  justify-content: space-between;
  z-index: 5;
  color: var(--custom-white);
  overflow: visible;
}

.navbar-scrolled {
  background-color: var(--sand-color);
  color: black;
}

.navbar-logo {
  /* font-family: "Waterfall", cursive; */
  font-size: var(--sub-header);
  padding: 0;
}

/* Links */

.links-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-self: flex-end;
}

.hamburger-menu {
  display: none;
}

.navbar-link {
  display: inline-block;
  position: relative;
}

.navbar-links {
  width: 30%;
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  font-size: var(--regular-text);
}

.navbar-links-scrolled {
  color: black;
}

.hide-nav {
  display: flex;
}

/* Desktop Underline Animation */
@media (min-width: 900px) {
  .navbar-link::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .navbar-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

@media (max-width: 900px) {
  .navbar {
    padding-top: 1rem;
    padding-bottom: 0.25rem;
    padding-inline: 0;
  }

  .hamburger-menu {
    display: inline;
    width: 100%;
  }

  .navbar-logo {
    margin-left: 0.75rem;
  }

  .links-container {
    display: none;
    flex-direction: column;
    position: absolute;
    left: 0;
    width: 100vw;
    text-align: center;
    top: 80px;
    background-color: var(--sand-color);
    gap: 0.5rem;
  }

  .show-nav {
    display: block;
  }

  .navbar-link {
    /* line-height: 48px; */
    font-size: 28px;
    padding-top: 1rem;
    display: block;
  }

  .links-container:last-child {
    padding-bottom: 0.5rem;
  }
}
