.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-inline: 5rem;
  /* padding-inline: 3rem; */
  align-items: stretch;
}

.skills-container .skill-card {
  justify-self: flex-start;
}

.skills-section {
  background-color: var(--dark-blue);
  overflow: hidden;
}

.skills-section h2 {
  color: var(--custom-white);
}

.fish {
  color: white;
  width: 1.5vw;
  height: auto;
  position: absolute;
  z-index: 3;
  top: 5%;
}
