/* :root {
  --mask: radial-gradient(52.84px at 50% 73.5px, #000 99%, #0000 101%)
      calc(50% - 60px) 0/120px 100%,
    radial-gradient(52.84px at 50% -43.5px, #0000 99%, #000 101%) 50% 30px/120px
      100% repeat-x;
} */

.App {
  text-align: center;
  /* Temp code */
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  border: 2px solid red;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
