:root {
  /* Color Palette */
  --dark-blue: #293050;
  /* --dark-blue: #064273; */
  --light-blue: #435585;
  --orange-color: #d0614d;

  --custom-white: rgba(255, 255, 255, 0.75);
  --sand-color: #dbb98c;

  --hero-text: clamp(30px, 3.6458vw, 4rem);
  --section-header: clamp(10px, 2.0833vw, 3rem);
  --navbar-link-text: clamp(32px, 2.0833vw, 2.5rem);
  --sub-header: clamp(24px, 1.5625vw, 2.5rem);
  --regular-text: clamp(16px, 1.0417vw, 2rem);
  --small-text: clamp(10px, 0.9115vw, 1.5rem);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--orange);
  font-family: "Merriweather Sans";
}

a:hover {
  opacity: 0.75;
}

body {
  margin: 0;
}

button:hover {
  opacity: 0.75;
}

/* Saved Colors */
/* 
rgb(21, 161, 169)
#8aadd9
#f5e8c7
#e2eff8
#2a9ad6
#2f6db4
#363062
#020d21
#def3f6
#f3a69c
#f6c8ae
#e9b65c
*/
